.section2 {
    height: 6rem;
    text-align: center;
    color: #fff;
    overflow: visible!important;
    margin: 1rem;
}

.vc_column-inner {

    width: 10rem;
}



.vc_row, .wpb_column, .wpb_row{
    display: flex;
    justify-content: space-between;
    border: solid red;

}

