
.btn-whatsapp {
    display:block;
    font-size: 4rem;
    color: black;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
.btn-whatsapp :hover{
    color: #ffff00;
}

#community {
max-height: max-content;
}

.badge {
    position: relative;
    top: -20px;
    left: -20px;
    border: 1px solid red;
    background-color: red;
    color: white;
    border-radius: 50%;
   }

