
.btn-whatsapp {
    display:block;
    font-size: 4rem;
    color: rgba(249, 250, 201, 0.897);
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
.btn-whatsapp :hover{
    color: #ffff00;
}

#community {
max-height: max-content;
}

